{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="departments" class="btn btn-secondary">Добавить департамент</a>
        <a href="jobs_list" class="btn btn-secondary">Перейти к работам</a>
    {% endif %}
    <h3 class="centred">Departments logs</h3>
    {% for dep in departments %}
    <div>
        <h4>Department # {{ dep.id }}</h4>
        <table class="table centred" >
            <thead>
                <tr>
                    <th class="col-6 table-secondary" scope="col">title of department</th>
                    <th class="col-2 table-secondary" scope="col">Chief</th>
                    <th class="col-1 table-secondary" scope="col">members</th>
                    <th class="col-2 table-secondary" scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-primary col-6" scope="row">{{ dep.title }}</td>
                    <td class="table-primary col-2">{{ dep.user.name }} {{ dep.user.surname }}</td>
                    <td class="table-primary col-1">{{ dep.members }}</td>
                    <td class="table-primary col-2">{{ dep.email }}</td>
                </tr>
            </tbody>
        </table>
        {% if current_user.is_authenticated and current_user.id == dep.team_leader or current_user.id == 1 %}
        <div>
            <a href="/departments/{{ dep.id }}" class="btn btn-warning">
                Edit dep
            </a>
            <a href="/departments_delete/{{ dep.id }}" class="btn btn-danger">
                Delete dep
            </a>
        </div>
        {% endif %}
    </div>
    <p><br></p>
    {% endfor %}
{% endblock %}