{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="jobs" class="btn btn-secondary">Добавить работу</a>
        <a href="departments_list" class="btn btn-secondary">перейти к департаментам</a>
    {% endif %}
    <h3 class="centred">Works logs</h3>
    {% for job in jobs %}
    <div>
        <h4>Action # {{ job.id }}</h4>
        <table class="table centred" >
            <thead>
                <tr>
                    <th class="col-6 table-secondary" scope="col">title of activity</th>
                    <th class="col-2 table-secondary" scope="col">Team leader</th>
                    <th class="col-1 table-secondary" scope="col">Duration</th>
                    <th class="col-2 table-secondary" scope="col">List of collaborators</th>
                    <th class="col-2 table-secondary" scope="col">Hazard</th>
                    <th class="col-1 table-secondary" scope="col">is finished</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-primary col-6" scope="row">{{ job.job }}</td>
                    <td class="table-primary col-2">{{ job.user.name }} {{ job.user.surname }}</td>
                    <td class="table-primary col-1">{{ job.work_size }} hours</td>
                    <td class="table-primary col-2">{{ job.collaborators }}</td>
                    <td class="table-primary col-2">{{ job.category }}</td>
                    {% if job.is_finished == False %}
                        <td class="table-danger col-1">Is not finished</td>
                    {% else %}
                        <td class="table-success col-1">finished</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% if current_user.is_authenticated and current_user.id == job.team_leader or current_user.id == 1 %}
        <div>
            <a href="/jobs/{{ job.id }}" class="btn btn-warning">
                Edit job
            </a>
            <a href="/job_delete/{{ job.id }}" class="btn btn-danger">
                Delete job
            </a>
        </div>
        {% endif %}
    </div>
    <p><br></p>
    {% endfor %}
{% endblock %}